body {
  background-color: rgb(218, 202, 165);
  cursor: url('../img/cursor_water-01.png'), auto;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.container img {
  position: fixed;
  top: 80px;
  left: 50px;
  width: 200px;
}

.container img#two {
  display: none;
}

.switch {
  position: fixed;
  top: 80px;
  left: 50px;
  width: 300px;
  height: 309px;
  z-index: 1000;
}

video {
  position: fixed;
  top: 10%;
  right: 5%;
  width: 800px;
  z-index: -19;
}